body {
  font-family: 'Poppins', sans-serif;
}

#sidebar {
  min-width: 240px;
  max-width: 240px;
  height: 100vh;
  transition: all 0.3s;
}

#sidebar .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

#page-content {
  flex: 1;
  transition: all 0.3s;
}

#wrapper.toggled #sidebar {
  margin-left: -240px;
}